<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<div class="tela-inteira">
    <div class="box"></div>
    <div class="area-login">
        <div class="cabecalho">
            <div class="logo-box">
                <img class="logo-imagem" src="logo.png"/>
                <h1 class="logo-texto">BetterStudy</h1>
            </div>
            <p class="instrucao">Faça o login do Siga</p>
        </div>

        <form class="login">
            <input class="login-usuario" type="text" placeholder="Usuário">
            <input class="login-senha" type="password" placeholder="Senha">
            <button class="login-botao" type="button" >Entrar</button>
        </form>

    </div>
</div>