<div class="card-materia">
    <!-- <div class="card-header">
        <p class="nome-materia">Nome da matéria</p>
    </div>
    <div class="card-body">
        <p class="nota-materia">Nota: 10</p>
        <p class="abc-materia">Nível considerado: A</p>
    </div> -->
    <div class="card-header">
        <p class="nome-materia">{{mat.nome}}</p>
    </div>
    <div class="card-body">
        <p class="nota-materia">Nota: {{mat.nota}}</p>
        <p class="abc-materia">Nível considerado: {{mat.abc}}</p>
    </div>
</div>
